/*RESE*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 /*DEBUG*/
 .debug main{
    
    height:1400px;
}
.debug .container .row .col{
    height: 200px;
    width: 200px;
    background-color: blue;
}
    
 /*COOMON*/

.container{
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
 /*TYPO*/
body{
     font-family: 'Roboto', sans-serif;
}
.logo{
    width:120px;
}
/* HEADER */
.header-top{
    background-color: #ff6900;
    padding: 16px 0;
    color: white;
    font-weight: 400;
}
.nv ul{
    list-style: none;
    display: flex;
}
.nv ul li a{
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
}
 

    

/* MAIN */
.photo-row-1{
    padding: 45px 0;
}
/* FOOTER */
footer{
    background-color: #1a1a1a;
    padding: 110px 0;
    color: white;
}