/*RESE*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 /*DEBUG*/
 .debug main{
    
    height:1400px;
}
.debug .container .row .col{
    height: 200px;
    width: 200px;
    background-color: blue;
}
    
 /*COOMON*/

.container{
    max-width: 1600px;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
 /*TYPO*/
body{
     font-family: 'Roboto', sans-serif;
}
.logo{
    width:120px;
}
/* HEADER */
.header-top{
    background-color: #ff6900;
    padding: 16px 0;
    color: white;
    font-weight: 400;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
}
.nv ul{
    list-style: none;
    display: flex;
}
.nv ul li {
    margin-left: 10px;
}
.nv ul li a{
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
}
/* MAIN */
.photo-row-1{
    padding: 110px 0;
}
.photo-row-2{
    padding-bottom:65px ;
}

.element{
    position: relative;
    margin-right: 20px;
}
.discount{
    position: absolute;
    background-color: red;
    text-align: center;
    bottom: 40px;
    color: white;
    padding: 0 10px;
}
.green-text{
    position: absolute;
    bottom: 40px;
    left:57px;
    color: white;
    background-color: green;
    padding: 0 10px;
}
.green-text-last{
    position: absolute;
    bottom: 40px;
    color: white;
    background-color: green;
    padding: 0 10px;
    
}
.heart{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    bottom: 580px;
    left: 400px;
    line-height: 50px;
    font-size: 24px;
}
.heart-red{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    bottom: 580px;
    left: 400px;
    line-height: 50px;
    color: red;
    display: none;
    font-size: 24px;
}

.foto{
    height: 640px;
    width: 450px;
    display: block;
}
.foto-2{
    height: 640px;
    width: 450px;
    display: none;
}
.info{
    text-align: left;
}
.price-red{
    color: red;
}
    
.old-price{
    text-decoration-line: line-through;
}
.element:hover .foto-2{
    display: block;
}
.element:hover .foto {
    display: none;
}
.element:hover .heart-red{
    display: block;
}
.element:hover .heart{
    display: none;
}

/* FOOTER */
footer{
    background-color: #1a1a1a;
    
    color: white;
}   

 

.footer-bottom{
    padding: 30px 0;
}

.privacy{
    display: flex;
    text-align: left;
}

h4{
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

